apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: thanos-store
    app.kubernetes.io/instance: thanos-store
    app.kubernetes.io/name: thanos
    app.kubernetes.io/version: v0.10.1
  name: thanos-store
  namespace: thanos
spec:
  clusterIP: None
  ports:
  - name: grpc
    port: 10901
    targetPort: 10901
  - name: http
    port: 10902
    targetPort: 10902
  selector:
    app.kubernetes.io/component: thanos-store
    app.kubernetes.io/instance: thanos-store
    app.kubernetes.io/name: thanos
