apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: database-write-hashring
    app.kubernetes.io/instance: thanos-receive-region-1
    app.kubernetes.io/name: thanos-receive
    app.kubernetes.io/version: v0.18.0
    controller.receive.thanos.io/hashring: region-1
  name: thanos-receive-region-1
  namespace: thanos
spec:
  endpoints:
  - port: http
    relabelings:
    - separator: /
      sourceLabels:
      - namespace
      - pod
      targetLabel: instance
  selector:
    matchLabels:
      app.kubernetes.io/component: database-write-hashring
      app.kubernetes.io/instance: thanos-receive-region-1
      app.kubernetes.io/name: thanos-receive
      controller.receive.thanos.io/hashring: region-1
